PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=techsupply_scm
DB_USER=root
DB_PASSWORD=

PYTHON_API=http://0.0.0.0:8080

APP_TIMEZONE=America/Guayaquil
HORA_INICIO_OPERACION=08:00
TIEMPO_SERVICIO_POR_ENTREGA_MIN=10
MARGEN_OPERATIVO_PORCENTAJE=15
MINUTOS_MAXIMOS_OPERACION_DIA=600
