# Entorno virtual
.venv/
venv/

# Caché y bytecode de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Variables de entorno
.env
.env.*
!.env.example

# Herramientas y sistema operativo
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
.DS_Store
Thumbs.db
